h1{ background-color: rgb(219, 245, 239);
    color: black;
    text-align: center;
    font-size: 50px;
    margin: 25px 100px 0px 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-color: rgb(236, 235, 235);
    border-width: 1px;
}

.recipes-list {
    background-color: white;
    margin: 0px 100px
}

ul{
    margin: 0px;
    padding: 10px 0px;
    border: solid;
    border-color:rgb(236, 235, 235);
}

body{
    font-family: Georgia, "Times New Roman", serif;
    background-color: azure;
}

div.croquetas,
.cuban-bread,
.flan{
    padding: 25px 0px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.159);
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;

}

div.croquetas{
    background-color: rgba(255, 102, 0, 0.142);
    margin-right: 50px;
}

div.cuban-bread{
    background-color: rgba(0, 255, 30, 0.121);
    margin-right: 100px;
}

div.flan{
    background-color: rgba(0, 0, 255, 0.097);
    margin-right: 150px;
}

a{
    color: rgba(128, 128, 128, 0.683);
}


